@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(30, 18%, 87%);
}
main{
    display: flex;
    justify-content: center;
    position: relative;
    top:100px
}
hr{
    
    width: 90%;
    margin-left: 20px;
    color: grey;
    
}
.box{
    border-radius: 20px;
    height: 1200px;
    width: 500px;
    background-color:hsl(0, 0%, 100%);
}
.box img{
    margin: 20px 20px 20px;
    border-radius: 10px;
    height: 200px;
    width: 460px;
}
.box h1{
    font-family: "Young Serif", serif;
    margin-left: 25px;

}
h3{
    margin-top: 20px;
    color:hsl(14, 45%, 36%);
    margin-left: 25px;
}
h4{
    margin-top: 30px;
    color: hsl(332, 51%, 32%);
    margin-left: 25px;
}
p{
   margin-top: 10px;
    font-size: 16px;
    margin-left: 25px;

}
span{
    font-family: "Outfit", sans-serif;
    color:black;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ul1{
    padding: 20px 0px 20px 0px;
    width: 400px;
    background-color:  hsl(330, 100%, 98%);
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 50px;
}
.ul2{
    margin-top: 20px;
    padding-left: 50px;
}
.ul3{
    font-size: 14px;
    background-color:  hsl(330, 100%, 98%);
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
}
.ul1 li{
    list-style-type:square;
}
.ul2 li{
    list-style-type:square;
}
.ul3 li{
    list-style-type:lower-number;
}
li::marker{
    color: hsl(332, 51%, 32%);
}
table tr td{
    padding-left: 40px;
    width: 200px;

    
}
#t{
    color: hsl(332, 51%, 32%);
}